<div class="container-fluid">
    <div class="row roominfo">
        <div class="col-md-4">
            <img class="logo" src="../assets/Logo-VoxxedDaysLuxembourg.png"/>
        </div>
        <div class="col-md-4">
            <div class="title">Room {{roomName}}</div>
        </div>
        <div class="col-md-4">
            <div class="title">{{currentTime}}</div>
        </div>

    </div>
    <div class="row" *ngIf="mode == 'opening'">
        <titles-opening></titles-opening>
    </div>
    <div class="row" *ngIf="mode == 'closing'">
        <titles-closing></titles-closing>
    </div>
    <div class="row" *ngIf="mode == 'talk'">
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="talk-wrapper">
                            <h3>Current Talk</h3>
                            <app-slot-details *ngIf="currentSlot" [slot]="currentSlot"></app-slot-details>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div *ngIf="nextSlot" class="talk-wrapper">
                            <h3>Next Talk at {{nextSlot.fromTime}}</h3>
                            <app-slot-details [slot]="nextSlot"></app-slot-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 feed">
            <twitter-feed></twitter-feed>
        </div>
    </div>
</div>
