<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <app-slot-details *ngIf="currentSlot" [slot]="currentSlot"></app-slot-details>
        </div>
        <div class="col-md-4">
            <app-slot-details *ngIf="nextSlot" [slot]="nextSlot"></app-slot-details>
        </div>
        <div class="col-md-4">

            <h2><a href="/">Voxxed Days Luxembourg</a></h2>

            <p>Room name: {{roomName}}</p>
            <p>Current time: {{currentTime}}</p>
        </div>
    </div>
</div>
