$voxxed-blue: #1f76b0

.roominfo
    background: $voxxed-blue
    color: white

.talk-wrapper
    color: white

.talk-wrapper.current
    background: lighten($voxxed-blue, 10)

.talk-wrapper.next
    background: lighten($voxxed-blue, 20)



