.roominfo
    color: white
    background-color: rgba(0, 0, 0, 0.3)
    border-bottom: 2px solid white

    box-shadow: 0 16px 200px black

    .title
        font-size: 24pt
        font-weight: bold
        margin-top: 12pt
        text-align: center

    .logo
        height: 64px
        margin-top: 6px
        margin-bottom: 12px

.talks
    padding-top: 32px

.talk-wrapper
    border: 3px solid white
    border-radius: 24px
    color: white
    padding: 24px 24px 48px 48px

    box-shadow: 0 16px 64px rgba(0, 0, 0, 0.5)

    height: 100%

    background: url('../assets/table-decoration-corner-bottom.png') bottom right no-repeat, url('../assets/table-decoration-corner-top.png') top left no-repeat, url('../assets/table-shapes.png') repeat

.coming-next
    margin-top: 32px
    padding-bottom: 8px

.feed
    background-color: #292F33

talk-progress
    margin-top: 12px

.no-padding
    padding-left: 0
    padding-right: 0
