.roominfo
    color: white

    .title
        font-size: 24pt
        margin-top: 3pt

    .logo
        height: 64px
        margin-bottom: 12px

.talk-wrapper
    border: 3px solid white
    border-radius: 24px
    color: white
    padding: 24px 24px 48px 24px

    height: 100%

    background: url('../assets/table-decoration-corner.png') bottom right no-repeat, url('../assets/table-shapes.png') repeat

.feed
    background-color: #292F33
