.track
    font-size: 12pt
    background-color: rgba(255, 255, 255, 0.7)
    color: #0c6251
    padding: 4px 16px 4px 16px
    display: inline
    margin-top: 6px
    margin-bottom: 8px

.title
    font-size: 16pt

.speakers
    font-style: italic

.speaker-avatar
    float: right
    height: 128px
    margin-left: 20px
    margin-bottom: 10px

.summary
    color: #CCFFDD
    margin-right: 32px
    text-align: justify

img
    border: 1px solid white

ul
    list-style-type: square
