<div class="row" *ngIf="slot.talk; else noTalk">
    <div class="col-md-12">
        <!--<div class="slot">From {{slot.fromTime}} to {{slot.toTime}}</div>-->
        <div class="track">{{slot.talk.track}}</div>
        <div class="title">{{slot.talk.title}}</div>
        <ul class="speakers">
            <li *ngFor="let speaker of slot.talk.speakers">
                {{speaker.details.firstName}} {{speaker.details.lastName}}
                ({{speaker.details.company}})
            </li>
        </ul>
        <img *ngFor="let speaker of slot.talk.speakers"
             class="speaker-avatar"
             src="{{speaker.details.avatarURL}}"/>
        <div class="summary" [innerHTML]="slot.talk.summaryAsHtml"></div>
    </div>
</div>
<ng-template #noTalk>
    <div class="row">
        <div class="col-md-12">
            <h3>No talk description available</h3>
            <p>From {{slot.fromTime}} to {{slot.toTime}}</p>
        </div>
    </div>
</ng-template>
